<div class="row">
  <div class="card-wapper col s12">
    <div class="card white">
      <div class="card-content black-text">
        <span class="card-title"><%= article.title %></span>
        <p><%= article.body %></p>
      </div>
      <div class="card-action">
        <%= link_to 'SHOW', article_path(article.article_id), method: :get, class: 'waves-effect waves-light btn-small' %>
        <%= link_to 'EDIT', "articles/#{article.article_id}/edit", method: :get, class: 'waves-effect waves-light btn-small' %>
        <%= link_to 'DESTROY', article_path(article.article_id), method: :delete, class: 'waves-effect waves-light btn-small' %>
      </div>
    </div>
  </div>
</div>