<% @articles.each do |article| %>
  <div class="row">
    <div class="card-wapper">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title"><%= article.title %></span>
          <p><%= article.body %></p>
        </div>
        <div class="card-action">
          <%= link_to 'SHOW', "articles/#{article.article_id}", method: :get, class: 'waves-effect waves-light btn-small' %>
          <%= link_to 'EDIT', "articles/#{article.article_id}/edit", method: :get, class: 'waves-effect waves-light btn-small' %>
          <%= link_to 'DESTROY', 'articles/1', method: :delete, class: 'waves-effect waves-light btn-small' %>
        </div>
      </div>
    </div>
  </div>
<% end %>