<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav id="header">
        <div class="nav-wrapper">
          <a href="/articles" class="brand-logo">Blog</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= current_user.nickname %>さん</li>
              <li><%= link_to 'SignOut', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to 'New', new_article_path, method: :get %></li>
            <% else %>
              <li><%= link_to 'SignIn', new_user_session_path, method: :get %></li>
              <li><%= link_to 'SignUp', new_user_registration_path, method: :get %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
